*ipynb
*.pyc
.git/
.idea/
*checkpoints*
*logs*
*ibex

examples/sem_seg_dense/script/
examples/sem_seg_dense/checkpoints/
examples/sem_seg_dense/logs/

examples/sem_seg_sparse/checkpoints/
examples/sem_seg_sparse/logs/
examples/sem_seg_sparse/script/

examples/ppi/checkpoints/
examples/ppi/logs/
examples/ppi/script/

examples/part_sem_seg/logs/
examples/part_sem_seg/checkpoints/
examples/part_sem_seg/result/
examples/part_sem_seg/script/

